/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/google/*.json
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
ninecloud.sublime-project
ninecloud.sublime-workspace
